{
    "swedish_ssn": "YYYYMMDD-XXXX",
    "cookies": {
        "FpsPartnerDeviceIdentifier": "",
        "TrvCookieConsent": "functional=true&analytical=true",
        "ASP.NET_SessionId": "",
        "NSC_mc-gpsbsqspw-fyu-xfc-iuuq-wt": "",
        "_pk_id.4.825a": "",
        "_pk_ref.4.825a": "",
        "_pk_ses.4.825a": "",
        "LoginValid": "",
        "FpsExternalIdentity": ""
    }
}